<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<img src="https://lh3.googleusercontent.com/Rt4pYT9PZnelyuxPOjOZEHnCM96-JrMe_GX3N_aCbRRgEF_17MHaE_05q3pC-zC4JS3K3QW9AU2rEtD1s1uAJNqlvfSWKCft_q1bfyf7_YzuAtTvTJwSOtMsybLhvuJ-wS1Gz8hcl_vvfvd_fLkfrR5ZiH3W3pQVebAZCM-nE-eMd6bLYvNmfWVHY4x4x-Re7OpmuOPvvEMVOuvATgv1WgLUaygZelw48lh1IUphcvaAQh45Q6sjfIr5yIScMdeMH6NmKtGlXJxD7kjE5Szv_yMSpfNU57E71ULNwyxT0c14MBGYwhvKBUilUfCs_JW0_ELe4WYkHQ0DCm1RqjQthTItu6J4xxbaIg0ZSGQgc0tO6ISkGWSDO8wG56a8ETTENe2qRA0n7cWGH70uacO5J22ZZY-0NzohbHp54Rymnlv9NT4thvQRVf8ob0NrwjLOd_9BfOoB0BhSQH3cNezAVr2P7TAbgp67-qKfq8cg62dHFaf-S5-LQa9Qk88Nwv1jvXDxVSCXudY8dS9O3cnMkZU3upXDzIiwrQN_FqCpzC6QxTZgpuYxn0EO5fzlmqqjUvBCvi9TK7RrH4qgkUDtACaHCnAw8uLfpPMsB0kThIk-TmAZ5LAZ44Di3yRQstpgxIX0b2MpZiuDamLnPMeqXNHlaptrffkG=w2396-h1798-no" height="150" width="300"><div>
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<app-product-item></app-product-item>
</div>
